.movie_body {
    background-color: #f2f2f2;
    min-height: 100vh;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.idownloadblog.com%2F2016%2F03%2F25%2Ftvos-9-2-sorting-options-movies-tv-shows%2F&psig=AOvVaw0N0VdVamlTTCdFv2hebTuw&ust=1636168400090000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMjwwruggPQCFQAAAAAdAAAAABAJ");
}