

.movie_container {
    overflow-x: auto;
    flex-wrap:  nowrap;
    background-color: #ffffff;
    height: 100vh;
    transform: transform 0.2s;
    color: #ffffff;
    margin: 10px;
    padding: 15px;
    display: flex;
}
.movie_poster {
    margin: 8px;
}
.movie_poster:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.movie_card {
    background: lightslategray;
    margin: 10px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.movie_header{
 background: blue;
 display: flex;
 justify-content: center
}

h5 {
    color: rgb(99, 105, 112);
}
.movie_poster {
    display: flex;
    grid-template-columns: 120px 120px 120px;
    grid-gap: 5px;
    /* grid-template-rows: 120px 120px 120px; */
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: none;
}