

.movie_container {
    overflow-x: auto;
    flex-wrap:  nowrap;
    background-color: #ffffff;
    height: 100vh;
    transform: transform 0.3s;
    color: #ffffff;
    margin: 10px;
    padding: 15px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
   
}

.movie_poster {
    margin: 8px;
}
.movie_poster:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.movie_card {
    background: lightslategray;
    margin: 10px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
}
.movie_card:hover {
transform: translate 0.3;
overflow-x: auto;

}

.movie_header{
 background: #023047;
 display: flex;
 justify-content: center;
 color: #e5e5e5;
}

h5 {
    color: rgb(99, 105, 112);
}
.movie_poster {
    display: flex;
    grid-template-columns: 120px 120px 120px;
    grid-gap: 5px;
    /* grid-template-rows: 120px 120px 120px; */
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: none;
}


