
.post_page {
    background-color: slategrey;
    display: block;
    align-items: center;
    max-height: 100vh;
    padding: 5px;
}

.post_card {
    background-color: snow;
    align-items: center;
    max-width: 100vw;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.post_card h3 {
    color: black;
    font-size: 16px;
    
}

.post_card h4{
    color: rgb(71, 71, 71);
    font-size: 14px;
}

.titles {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 40.6% 16.6% 16.6% ;
    justify-content: center;
}

.titles div {
    padding: 30px;
}

.post_info {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 40.6% 16.6% 16.6% ;
    justify-content: center;
   
}

.post_info div {
    padding: 10px;
    background-color: gainsboro;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 2px;
}

.Review_div {
    display: flex;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 850px) {
    .post_info {
        max-width: 850px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 16.6% 16.6% 16.6% 40.6% 16.6% 16.6% ;
        justify-content: center;
    }

    .post_card {
        max-width: 85vw;
    }

    .post_info div {
        padding: 30px;
        background-color: gainsboro;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin: 2px;
    }

    .Review_div {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .Review_div {

    }
}

@media screen and (max-width: 500px) {
        .post_info {

    }

    .post_card {
        max-width: 100vw;
       
    }

    .post_info {
        display: block;
        width: ;
        
    }

    .Review_div {
        display: block;
    }

  .post_card {
      display: block;
  }
}